@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap');

html{
    background-color: purple;
}


/*html, */
body {
    padding:1rem;
    width: 15rem;
    background-color: #f1f1f1;
    font-family: Roboto, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#popup-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header label input{
    font-weight: 100;
    width: 96%;
}

.header label textarea {
    font-weight: 100;
    width: 99%;
    resize: none;
}

.hidden {
    display: none;
}