@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap');

html{
    background-color: purple;
    padding:0;
    overflow-x: hidden;
}


/*html */
body {
    padding:1rem;
    width: 30rem;
    background-color: #f1f1f1;
    font-family: Roboto, sans-serif;
    margin: 0;
    box-sizing: border-box !important;
    font-size: 1.25rem;
}

.title{
    width:100%;
    max-width: 100%;
    display:flex;
    justify-content: center;
}

.title h1{
    margin: 0;
}

.popup-page, .header label{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#popup-0 input{
    margin: 0 2rem 1rem 2rem;
}

#popup-1{
    display: none;
}

.header label input{
    font-weight: 100;
    font-size: 1.25rem;
}

.header label textarea {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.15rem;
    resize: none;
    height: 10rem;
}

.header{
    margin-bottom: 1.25rem;
}

.hidden {
    display: none !important;
}

.domain-submit label{
    float: right;
}

input[type="button"] {
    border: 1px solid #bdbdbd;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
}
.regular-button{
    background: #f1f1f1;
}

.regular-button:hover{
    background: white;
    cursor: pointer;
}

.regular-button:active{
    background-color: darkgray;
}

input:focus, textarea:focus{
    border-color: dodgerblue;
    border-style: solid;
}

.highlight-button{
    background-color: dodgerblue;
    color: #f1f1f1;
}

.highlight-button:hover {
    background-color: #0ca0ff;
    color: white;
    cursor: pointer;
}

.highlight-button:active {
    background-color: #2274ff;
    color: #f1f1f1;
}

.domain-select select, .domain-select select option{
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
}

.domain-submit label:nth-of-type(1) input{
    margin-left:1rem;
}
