/*----------------------------------------------------------------------------------------------------------------------
[Table of Contents]
1. Title Area / .title
2. Extension Popup / .popup-page
----------------------------------------------------------------------------------------------------------------------*/

.title {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.popup-page{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}